<div class="employee-content">
    <div class="row">
      <div class="col-lg-11">
                
        <div id="addstock-div">
            <div class="group-gap" [@.disabled]="true">
                <mat-tab-group animationDuration="0ms">
                    <!-- First Tab Start -->
                    <mat-tab label="Stock In" class="matTabLabel">
                        <br/>
                        <div id="mat-tab-body-content">
                            <div class="row">
                                <div class="col-lg-4" style="margin-left: 15px;">
                                    <label style="font-size: 13px;">Payment Option: </label>
                                    <div class="form-group" style="margin-left: 15px;" (change)="getInvoiceList(model.paymentOption)">
                                        <li>
                                            <input type="radio" name="paymentOption" [(ngModel)]="model.paymentOption" #paymentOption="ngModel" value="PartialStockIn"> Partial StockIn                                                
                                        </li>
                                        <li>
                                            <input type="radio" name="paymentOption" [(ngModel)]="model.paymentOption" #paymentOption="ngModel" value="FullStockIn"> Full StockIn 
                                        </li>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label style="font-size: 13px;">Invoice: </label>
                                    <select class="form-control" style="background-color:#243641;color: white;" [(ngModel)]="model.invoiceNumber" name="invoiceNumber" #invoiceNumber="ngModel">
                                        <option>-- Select --</option>
                                        <option *ngFor="let iteminvoice of invoiceList" value="{{ iteminvoice }}"> {{ iteminvoice }} </option> 
                                    </select> 
                                </div>
                                <div class="col-lg-4">
                                    <label style="font-size: 13px;"> </label>
                                    <div class="radio-toolbar">
                                        <label for="radio1" id="viewInvoice-butn" (click)="viewInvoice()">View Invoice</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div style="margin-left: 15px;">
                                        <p style="font-size: 16px;">Stock In Summary</p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button id="print-butn">
                                        &nbsp;<i class="fa fa-print" aria-hidden="true" id="icon-mod"></i> &nbsp;
                                        &nbsp;<label id="text">Print Page</label>
                                    </button>
                                </div>&nbsp;&nbsp;
                                <div class="col-lg-3">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="&nbsp;&nbsp;&nbsp;Search " >
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-paginator #hBpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            <div class="mat-elevation-z8">
                                <table mat-table #hBtable [dataSource]="dataSource1" matSort id-="stockIn">
                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.invoicedate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Category">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock In Category </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.stockCategory}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ProductCategory">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.category}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ProductName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.itemname}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Qty">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Added Qty </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.addedqty}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="recentStock">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recent Stock </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.recentStock}} </td>
                                    </ng-container>
                                    
                                    <tr mat-header-row *matHeaderRowDef="hBColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: hBColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                    <!-- First Tab End -->
                    <!-- Second Tab Start -->
                    <mat-tab label="Stock Out">
                        <br/>
                        <div id="mat-tab-body-content">
                            <div style="margin-left: 16px;">
                                <p>Stock Out Register</p>
                            </div>
                            <div class="row" style="margin-left: 15px;">
                                <div class="col-lg-3">
                                    <label style="font-size: 13px;">StockOut Category: </label>
                                    
                                    <div class="form-group" style="margin-left: 15px;" (change)="getStockTextBox(model.stockOutCategory)">
                                        <li>
                                            <input type="radio" name="stockOutCategory" id="stockOutCategory" [(ngModel)]="model.stockOutCategory" value="sample"> Sample                                                
                                        </li>
                                        <li>
                                            <input type="radio" name="stockOutCategory" id="stockOutCategory" [(ngModel)]="model.stockOutCategory" value="damage"> Damage 
                                        </li>
                                        <li>
                                            <input type="radio" name="stockOutCategory" id="stockOutCategory" [(ngModel)]="model.stockOutCategory" value="clearence"> Clearence 
                                        </li>
                                        <li>
                                            <input type="radio" name="stockOutCategory" id="stockOutCategory" [(ngModel)]="model.stockOutCategory" value="others"> Others
                                        </li>
                                        <li *ngIf="otherStockOut">
                                            <input type="text" class="form-control" style="background-color:#243641;width: 95%;height: 25px;color: white;" 
                                            name="stockCategory" [(ngModel)]="model.stockCategory" #stockCategory="ngModel" />
                                        </li>
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                    <label>Product Category : </label>
                                    <select class="form-control" style="background-color:#243641;color: white;" id="category" [(ngModel)]="model.category" name="{{model.category}}" #category="ngModel">
                                        <option>-- Select --</option>
                                        <option *ngFor="let itemcategory of categoryList" value="{{ itemcategory }}"> {{ itemcategory }} </option> 
                                    </select> 

                                    <label>Product Name : </label>
                                    <select class="form-control" style="background-color:#243641;color: white;" id="itemname" [(ngModel)]="model.itemname" name="itemname" #itemname="ngModel">
                                        <option style="text-align:center;">-- Select --</option>
                                        <option *ngFor="let item of productList" value="{{ item.productname }}-{{ item.prodcode }}"> {{ item.productname }}-{{ item.prodcode }} </option>                     
                                    </select> 

                                    <div class="row">
                                        <div class="col-lg-5">
                                            <label>Quantity : </label>
                                            <input type="text" class="form-control" style="background-color:#243641;color: white;" id="addedqty" placeholder=" ltr/kg/pcs  " [(ngModel)]="model.addedqty" name="addedqty" #addedqty="ngModel"/> 
                                        </div>
                                        <div class="col-lg-7">
                                            <label>Date</label>
                                            <input class="form-control" style="background-color:#243641;margin-left:-15px;width:-webkit-fill-available;" value="{{ todayDate | date:'dd/MM/yyyy' }}" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div id="date-details">
                                            <p class="text">New Stock Out Preview </p>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-5" id="textSize">Stock Out Category</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-5" id="textSize" *ngIf="notOther">{{ this.model.stockOutCategory }}</div>
                                                <div class="col-md-6 col-xs-6 col-lg-5" id="textSize" *ngIf="other">{{ this.model.stockCategory }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-5" id="textSize">Product Category </div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-5" id="textSize">{{ this.model.category }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-5" id="textSize">Product Name </div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-5" id="textSize">{{ this.model.itemname }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-5" id="textSize">Quantity</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-5" id="textSize">{{ this.model.addedqty }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-5" id="textSize">Date</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-5" id="textSize">{{ todayDate | date:'dd/MM/yyyy' }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <div class="radio-toolbar">
                                                        <label id="checkIn-butn" (click)="saveStockOut()">Save</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div style="margin-left: 15px;">
                                        <p style="font-size: 16px;">Stock Out Summary</p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button id="print-butn">
                                        &nbsp;<i class="fa fa-print" aria-hidden="true" id="icon-mod"></i> &nbsp;
                                        &nbsp;<label id="text">Print Page</label>
                                    </button>
                                </div>&nbsp;&nbsp;
                                <div class="col-lg-3">
                                    <mat-form-field>
                                            <input matInput (keyup)="applyStockOutFilter($event.target.value)" placeholder="&nbsp;&nbsp;&nbsp;Search " >
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <mat-paginator #sBpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            <div class="mat-elevation-z8">

                                <table mat-table #sBSort [dataSource]="dataSource2" matSort id="StockOutTable">
                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.invoicedate}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="StockCategory">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Out Category </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.stockCategory}} </td>
                                    </ng-container>
                                    
                        
                                    <ng-container matColumnDef="ProductCategory">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.category}} </td>
                                    </ng-container>
                        
                                    <ng-container matColumnDef="ProductName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.itemname}} </td>
                                    </ng-container>
                                        
                                        
                                    <ng-container matColumnDef="Qty">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.addedqty}} </td>
                                    </ng-container>
                        
                                    <ng-container matColumnDef="RecentStock">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Recent Stock </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.recentStock}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="sBColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: sBColumns;"></tr>
                                </table>         
                            </div>  

                        </div>

                    </mat-tab>
                    <!-- Second Tab End -->
                    <!-- Third Tab Start -->
                    <mat-tab label="Stock Return">
                        <br/>
                        <div id="mat-tab-body-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text">Stock Return Summary</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <button id="print-butn">
                                                &nbsp;<i class="fa fa-print" aria-hidden="true" id="icon-mod"></i> &nbsp;
                                                &nbsp;<label id="text">Print Page</label>
                                            </button>
                                        </div>&nbsp;&nbsp;
                                        <div class="col-lg-2">
                                            <mat-form-field>
                                            <input matInput (keyup)="applyStockReturnFilter($event.target.value)" placeholder="&nbsp;&nbsp;&nbsp;Search " >
                                            </mat-form-field>
                                        </div>
                                    </div>
            
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                    <div class="mat-elevation-z8">
            
                                        <table mat-table #sort3 [dataSource]="dataSource3" matSort style="height: 640px;">
                                            <ng-container matColumnDef="Date">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockReturnDetails(row.invoiceNumber)" id="{{ row.invoiceNumber }}"> {{row.poDate}} </td>
                                            </ng-container>
                                            
                                            <ng-container matColumnDef="StockReturnCategory">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Return Category </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockReturnDetails(row.invoiceNumber)" id="{{ row.invoiceNumber }}"> {{row.returnCategory}} </td>
                                            </ng-container>
                                            
                                
                                            <ng-container matColumnDef="ProductCategory">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockReturnDetails(row.invoiceNumber)" id="{{ row.invoiceNumber }}"> {{row.category}} </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="ProductName">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockReturnDetails(row.invoiceNumber)" id="{{ row.invoiceNumber }}"> {{row.productName}} </td>
                                            </ng-container>
                                                
                                                
                                            <ng-container matColumnDef="Qty">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockReturnDetails(row.invoiceNumber)" id="{{ row.invoiceNumber }}"> {{row.quantity}} </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="currentStatus">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Status </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockReturnDetails(row.invoiceNumber)" id="{{ row.invoiceNumber }}"> {{row.status}} </td>
                                            </ng-container>
            
                                            <tr mat-header-row *matHeaderRowDef="thirdColumns"></tr>
                                            <tr mat-row class="table-row" tabindex="1" *matRowDef="let row; columns: thirdColumns;"></tr>
                                        </table>                                             
                                    </div>  
                                </div>
                                
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div id="return-details">
                                            <br/>
                                            <p class="text">Stock Return Status </p>
                                            <br/>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Date</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.model.stockDate }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Category</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.model.category }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Product</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.model.productName }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Vendor</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.model.vendorName }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Quantity</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.model.quantity }}</div>
                                            </div><br/>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Status</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6"></div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-2 col-xs-2 col-lg-4" id="textSize"></div>
                                                <div class="col-md-7 col-xs-7 col-lg-8" id="textSize">
                                                    <div class="form-group">
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus" style="width: 12px;height: 12px;" value="confirmed"><label>Confirmed</label>                                                 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus" style="width: 12px;height: 12px;" value="checkingProgress"> <label style="font-size: 11px;">On Checking Progress </label> 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus" style="width: 12px;height: 12px;" value="pending"><label>Pending</label>   
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus" style="width: 12px;height: 12px;" value="shippingProgress"><label>Shipping Progress</label> 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus" style="width: 12px;height: 12px;" value="finished"><label>Finished</label> 
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <div class="radio-toolbar">
                                                        <label id="checkIn-butn" (click)="saveStockReturn()">Save</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </mat-tab>
                    <!-- Third Tab End -->
                    <!-- Fourth Tab Start -->
                    <mat-tab label="Damage Stock">
                        <br/>
                        <div id="mat-tab-body-content">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="text">Damage Stock Summary</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <button id="print-butn">
                                                &nbsp;<i class="fa fa-print" aria-hidden="true" id="icon-mod"></i> &nbsp;
                                                &nbsp;<label id="text">Print Page</label>
                                            </button>
                                        </div>&nbsp;&nbsp;
                                        <div class="col-lg-2">
                                            <mat-form-field>
                                            <input matInput (keyup)="applyStockDamageFilter($event.target.value)" style="width: 75%;" placeholder="&nbsp;&nbsp;&nbsp;Search " >
                                            </mat-form-field>
                                        </div>
                                    </div>
            
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                    <div class="mat-elevation-z8">
            
                                        <table mat-table #sort3 [dataSource]="dataSource4" matSort style="height: 640px;">
                                            <ng-container matColumnDef="Date">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Input Date </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockDamageDetails(row.stockDamageCode)" id="{{ row.stockDamageCode }}"> {{row.stockDate}} </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="ProductCategory">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Category </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockDamageDetails(row.stockDamageCode)" id="{{ row.stockDamageCode }}"> {{row.category}} </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="ProductName">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockDamageDetails(row.stockDamageCode)" id="{{ row.stockDamageCode }}"> {{row.productName}} </td>
                                            </ng-container>
                                                
                                                
                                            <ng-container matColumnDef="Qty">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockDamageDetails(row.stockDamageCode)" id="{{ row.stockDamageCode }}"> {{row.quantity}} </td>
                                            </ng-container>
                                
                                            <!-- <ng-container matColumnDef="Origin">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockDamageDetails(row.stockDamageCode)" id="{{ row.stockDamageCode }}"> {{row.origin}} </td>
                                            </ng-container> -->

                                            <ng-container matColumnDef="status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                                <td mat-cell *matCellDef="let row" (click)="stockDamageDetails(row.stockDamageCode)" id="{{ row.stockDamageCode }}"> {{row.currentStatus}} </td>
                                            </ng-container>
            
                                            <tr mat-header-row *matHeaderRowDef="fourthColumns"></tr>
                                            <tr mat-row class="table-row" tabindex="1" *matRowDef="let row; columns: fourthColumns;"></tr>
                                        </table>         
                                    </div>  
                                </div>
                                
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div id="damage-details">
                                            <p class="text">Edit Damage Stock Product </p>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Date</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.stock.stockDate }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Product</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.stock.productName }}</div>
                                            </div>
                                            <!-- <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Vendor</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.stock.vendorName }}</div>
                                            </div> -->
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Quantity</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">{{ this.stock.quantity }}</div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Status</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6"></div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-2 col-xs-2 col-lg-4" id="textSize"></div>
                                                <div class="col-md-7 col-xs-7 col-lg-8" id="textSize">
                                                    <div class="form-group">
                                                        <li>
                                                            <input type="radio" name="itemStatus" id="itemStatus" [(ngModel)]="stock.itemStatus" #itemStatus="ngModel" style="width: 12px;height: 12px;" value="Pending"><label>Pending</label>                                                 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="itemStatus" id="itemStatus" [(ngModel)]="stock.itemStatus" #itemStatus="ngModel" style="width: 12px;height: 12px;" value="Returned to Vendor"> <label>Returned to Vendor </label> 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="itemStatus" id="itemStatus" [(ngModel)]="stock.itemStatus" #itemStatus="ngModel" style="width: 12px;height: 12px;" value="On Checking Progress"><label style="font-size: 11px;">On Checking Progress</label>   
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="itemStatus" id="itemStatus" [(ngModel)]="stock.itemStatus" #itemStatus="ngModel" style="width: 12px;height: 12px;" value="Clearence"><label>Clearence</label> 
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <div class="radio-toolbar">
                                                        <label id="checkIn-butn" (click)="saveStockDamage()">Save</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div id="add-damage-details">
                                            <p class="text">Add Damage Stock </p>
                                            <br/>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Product Category</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">
                                                    <select class="form-control" style="background-color:#243641;color: white;padding-left: 0px;" [(ngModel)]="model.category" name="{{model.category}}" #category="ngModel">
                                                        <option value="--- Select --- "> -- Select -- </option>  
                                                        <option *ngFor="let itemcategory of categoryList" value="{{ itemcategory.name }}-{{ itemcategory.categorycode }}"> {{ itemcategory.name }}-{{ itemcategory.categorycode }} </option>                     
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Product Name</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">
                                                    <select class="form-control" style="background-color:#243641;color: white;padding-left: 0px;" [(ngModel)]="model.productName" name="{{model.productName}}" #productName="ngModel">
                                                        <option value="--- Select --- "> -- Select -- </option>  
                                                        <option *ngFor="let item of productList" value="{{ item.productname }}-{{ item.prodcode }}"> {{ item.productname }}-{{ item.prodcode }} </option>                     
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Quantity</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">
                                                    <input type="text" class="form-control" style="background-color:#243641;color: white;padding-left: 0px;" id="quantity" placeholder=" ltr/kg/pcs  " [(ngModel)]="model.quantity" name="{{model.quantity}}" #quantity="ngModel"/> 
                                                </div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Date</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6" id="textSize">
                                                    <input type="date" class="form-control" style="background-color:#243641;color: white;padding-left: 0px;" id="stockDate" [(ngModel)]="model.stockDate" name="{{model.stockDate}}" #stockDate="ngModel"/>
                                                </div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-5 col-xs-5 col-lg-4" id="textSize">Status</div>
                                                <div class="col-md-1 col-xs-1 col-lg-1" id="textSize">:</div>
                                                <div class="col-md-6 col-xs-6 col-lg-6"></div>
                                            </div>
                                            <div class="row" id="salessummary">
                                                <div class="col-md-2 col-xs-2 col-lg-3" id="textSize"></div>
                                                <div class="col-md-7 col-xs-7 col-lg-9" id="textSize">
                                                    <div class="form-group">
                                                        <li>
                                                            <input type="radio"  name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus"  value="Pending"> Pending                                                
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus" value="Returned to Vendor"> Returned to Vendor 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus"  value="On Checking Progress"> On Checking Progress 
                                                        </li>
                                                        <li>
                                                            <input type="radio" name="currentStatus" id="currentStatus" [(ngModel)]="model.currentStatus"  value="Clearence"> Clearence
                                                        </li>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <div class="radio-toolbar">
                                                        <label id="checkIn-butn" (click)="addStockDamage()">Add</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <!-- Fourth Tab End -->
                    <!-- Fifth Tab Start -->
                    <mat-tab label="Stock Report">
                        <br/>
                        <div id="mat-tab-body-content">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div style="margin-left: 15px;">
                                        <p style="font-size: 16px;">Report Overall Stock</p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <button id="print-butn" (click)="print()">
                                        &nbsp;<i class="fa fa-print" aria-hidden="true" id="icon-mod"></i> &nbsp;
                                        &nbsp;<label id="text">Print Page</label>
                                    </button>
                                </div>&nbsp;&nbsp;
                                <div class="col-lg-3">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyStockReportFilter($event.target.value)" placeholder="&nbsp;&nbsp;&nbsp;Search " >
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-2" style="margin-left: 15px;">
                                    <p>Filter Category: </p>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control" style="background-color:#243641;color: white;" id="category" [(ngModel)]="model.category" #category="ngModel">
                                        <option>-- Select --</option>
                                        <option *ngFor="let itemcategory of categoryList" value="{{ itemcategory.name }}-{{ itemcategory.categorycode }}"> {{ itemcategory.name }}-{{ itemcategory.categorycode }} </option>                     
                                    </select>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2" style="margin-left: 15px;">
                                    <p>Filter Product: </p>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control" style="background-color:#243641;color: white;" id="productName" [(ngModel)]="model.productName" #productName="ngModel">
                                        <option>-- Select --</option>
                                        <option *ngFor="let item of productList" value="{{ item.productname }}-{{ item.prodcode }}"> {{ item.productname }}-{{ item.prodcode }} </option>                     
                                    </select>                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2" style="margin-left: 15px;">
                                    <p>Sort By : </p>
                                </div>
                                <div class="col-lg-3">
                                    <input type="date" class="form-control" style="background-color:#243641;color: white;" id="stockDate" [(ngModel)]="model.stockDate" name="{{model.stockDate}}" #stockDate="ngModel"/>
                                </div>
                                <div class="col-lg-3">
                                    <div class="radio-toolbar">
                                        <label id="checkIn-butn" (click)="searchStockReport()">Search</label>
                                    </div>
                                </div>
                            </div>  

                            <div class="mat-elevation-z8">
    
                                <table mat-table #sort5 [dataSource]="dataSource5" matSort id="clinicagReport" #clinicagReport>
                                    <ng-container matColumnDef="ItemCode">
                                        <th mat-header-cell *matHeaderCellDef> Item Code </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.itemCode}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="Category">
                                        <th mat-header-cell *matHeaderCellDef > Product Category </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.category}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ProductName">
                                        <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.productName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Vendor">
                                        <th mat-header-cell *matHeaderCellDef> Vendor </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.vendorName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ReadyStock">
                                        <th mat-header-cell *matHeaderCellDef> Ready Stock </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.readyStock}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="DamagedStock">
                                        <th mat-header-cell *matHeaderCellDef> Damaged Stock </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.damageStock}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="LastUpdate">
                                        <th mat-header-cell *matHeaderCellDef> Last Update </th>
                                        <td mat-cell *matCellDef="let row" id="middleContent"> {{row.lastUpdate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let row"> 
                                        <div class="row" style="margin: -2px;">
                                            <div id="rowview-div" (click)="viewStock()">
                                            <i class="fa fa-eye" id="rowedit-icon" aria-hidden="true"></i>  
                                            </div>  
                                            &nbsp;&nbsp;
                                            <div id="rowedit-div" (click)="editStock()">
                                                <i class="fa fa-trash-o" id="rowedit-icon" aria-hidden="true"></i> 
                                            </div>   
                                        </div> 
                                        </td>
                                    </ng-container>
    
                                    <tr mat-header-row *matHeaderRowDef="fifthColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: fifthColumns;"></tr>
                                </table>         
                            </div> 
                        </div>
                    </mat-tab>
                    <!-- Fifth Tab End -->
                </mat-tab-group>
            
            </div>
        </div>
    </div>                    
</div>
<br/><br/><br/>
</div>
  