#save-butn{
    background-color: #27AE60;
    border: 1px solid #27AE60;
    text-align: center;
    color: white;
  }
  #cancel-butn{
    background-color: #d40505;
    border: 1px solid #d40505;
    text-align: center;
    color: white;
  }
  .red {
    border: solid 1px red;
}
