<div class="employee-content">
        <div class="row">
            <div class="col-lg-7">
                <div class="tab">
                    <a class="tablink" routerLink="../employeeadd" id="defaultOpen" style="width: auto;color:white;">Employee Add</a>
                    <a class="tablink" style="border-bottom: 3px solid #007bff;width: auto;">Employee List</a>
                </div>
                
                <div id="purchase-div">
                    <br/><br/><br/>
                    <div class="row">
                        <div class="col-lg-7">
                            <h4 id="vendor-text">Employee List</h4>
                        </div>
                        <div class="col-lg-5">
                                <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search " >
                                </mat-form-field>
                                <!-- <button id="print-butn">
                                    <i class="fa fa-print" aria-hidden="true" id="icon-mod"></i>
                                    <label id="text">Print Page</label>
                                </button>
                                <input type="text" placeholder="&#xf002;   search here" class="searchicon"/> -->
                        </div>
                    </div>
                    <div class="row">              
                        <br/>
                        <div class="col-lg-12">
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    <div class="mat-elevation-z8">

                            <table mat-table [dataSource]="dataSource" matSort>
                
                            
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> #ID </th>
                                <td mat-cell *matCellDef="let row" (click)="employeeDetails(row.employeecode)" id="{{ row.employeecode }}"> {{row.employeecode}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let row" (click)="employeeDetails(row.employeecode)" id="{{ row.employeecode }}"> {{row.name}} </td>
                            </ng-container>
                            
                
                            <ng-container matColumnDef="rank">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
                                <td mat-cell *matCellDef="let row" (click)="employeeDetails(row.employeecode)" id="{{ row.employeecode }}"> {{row.rank}} </td>
                            </ng-container>
                
                            <ng-container matColumnDef="contactNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
                                <td mat-cell *matCellDef="let row" (click)="employeeDetails(row.employeecode)" id="{{ row.employeecode }}"> {{row.phonenumber}} </td>
                            </ng-container>
                
                            <tr mat-header-row  *matHeaderRowDef="displayedColumns;"></tr>
                            <tr mat-row [ngClass]="table-row" tabindex="1" 
                            *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            
                        </div>        
                        </div>
    
                        <!--<table class="table-size" datatable [dtOptions]="dtOptions" style="width: 90%;">
                            <thead>
                                <tr id="tr-color">
                                    <td id="text-color">Employee Code</td>
                                    <td id="text-color">Name</td>
                                    <td id="text-color">Rank</td>
                                    <td id="text-color">Contact Number</td>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr *ngFor="let list of employeeList" id="cursor-pointer" (click)="employeeDetails(list.empCode)" id="{{ list.empCode }}">
                                    <td>{{ list.empCode }}</td>
                                    <td>{{ list.name }}</td>
                                    <td>{{ list.rank }}</td>
                                    <td>{{ list.contactNumber }}</td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
                                
            </div>
            <div class="col-lg-5">
                <div class="details-div">
                    <div class="hr">
                        <!-- Employee View Start -->
                        <div *ngIf="empdetails" class="scroll-div" id="example-box" cdkDrag>
                            <br/>
                            <h3>Employee View</h3>
                            <hr>
                            <div class="row" id="empbut">
                                &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                                <!-- edit button -->
                                <button class='btn btn-info m-r-10px update-product-button' id="empButton" (click)="edit()">
                                    <span class='glyphicon glyphicon-edit'></span> Edit
                                </button> &nbsp;&nbsp;&nbsp;
                                <!-- delete button -->
                                <button class='btn btn-danger delete-product-button' id="empButton"(click)="delete(model.employeecode)">
                                    <span class='glyphicon glyphicon-remove'></span> Delete
                                </button> &nbsp;&nbsp;&nbsp;
                                <button class='btn btn-primary m-r-10px read-one-product-button' id="empButton" (click)="absent()">
                                    <span class='glyphicon glyphicon-eye-open'></span> Absent
                                </button> &nbsp;&nbsp;&nbsp; 
                            </div><br/>
                            <div class="empdet-div">
                                <!--  <div class="row" id="country">
                                    <div class="col-md-6 col-xs-6 col-lg-7">Employee Photo</div>
                                </div> -->
                                <div class="row" id="country">
                                    <div class="col-md-12 col-xs-12 col-lg-12">
                                        <img src="./assets/images/employee.png" height="100px"  class="imagecenter" />
                                    </div>
                                </div><br/>
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">#Id</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.employeecode }}</div>
                                </div><br/>
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5"> Name</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.name }}</div>
                                </div><br/>
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Rank</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.rank }}</div>
                                </div><br/>
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Phone</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.phonenumber }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Address</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.address }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">EmailID</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.email }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Birth</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.dob }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Join Since</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.addeddate }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Contract Number</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.contractnumber }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">NPWP</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.npwp }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">BPJS</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.bpjs }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Monthly_Salary</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.monthlysalary }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Overtime_Salary</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.overtimeSalary }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Work_Hour</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.workHour }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Annual_Leave</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.annualLeave }}</div>
                                </div><br/>	
                                <div class="row" id="country">
                                    <div class="col-md-5 col-xs-5 col-lg-5">Absent Dedection</div>
                                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                                    <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.absentDeduction }}</div>
                                </div><br/>	
                            </div>	
                        </div>
                        <!-- Employee View End -->
        
    <!-- Employee Edit Start -->
        <div *ngIf="empeditdetails" class="scroll-div">
            <br/>
            <h3>Edit Employee Details</h3>
            <hr>
            
            <form name="formReg">
                <br/>
                <div class="row" id="empbut">
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                    <!-- Save button -->
                    <button class='btn btn-info m-r-10px update-product-button' id="empButton" type="submit" (click)="setEmployeeUpdate()">
                        <span class='fa fa-floppy-o'></span> Save
                    </button> &nbsp;&nbsp;&nbsp;
                    <!-- delete button -->
                    <button class='btn btn-danger delete-product-button' id="empButton" (click)="cancelEdit()">
                        <span class='glyphicon glyphicon-remove'></span> Cancel
                    </button>  &nbsp;&nbsp;&nbsp;
                </div><br/>
                <div class="empdet-div" style="height: 457px;">
                    <div class="row" id="country">
                        <div class="col-md-6 col-xs-6 col-lg-7">Employee Photo</div>
                    </div>
                    <div class="row" id="country">
                        <div class="col-md-12 col-xs-12 col-lg-12">
                            <img src="./assets/images/employee.png" class="imagecenter" />
                        </div>
                    </div><br/>
                    <div class="row" id="country">
                        <div class="col-md-5 col-xs-5 col-lg-5">Employee Code</div>
                        <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                        <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.employeecode }}</div>       
                    </div><br/>
                    <div class="row" id="country">
                        <!-- <div class="form-group" [ngClass]="{'has-error':empf.submitted && !name.valid}"> -->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Name</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="name" value="{{ this.model.name }}" 
                                [(ngModel)]="this.model.name" #name="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !name.valid" class="help-block"> Name is required.</div>
                        </div> -->
                    </div>
                    <div class="row" id="country">
                        <!-- <div class="form-group" [ngClass]="{'has-error':empf.submitted && !rank.valid}"> -->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Rank</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="rank" value="{{ this.model.rank }}"
                                [(ngModel)]="this.model.rank" #rank="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !rank.valid" class="help-block"> Rank is required.</div>
                        </div>-->
                    </div>
                    
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !contactNumber.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Phone</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="phonenumber" value="{{ this.model.phonenumber }}" 
                                [(ngModel)]="this.model.phonenumber" #phonenumber="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !contactNumber.valid" class="help-block"> Phone is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !address.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Address</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="address" value="{{ this.model.address }}" [(ngModel)]="this.model.address" #address="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !address.valid" class="help-block"> Address is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !emailID.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee EmailID</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="email" value="{{ this.model.email }}" 
                                [(ngModel)]="this.model.email" #email="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !emailID.valid" class="help-block"> EmailID is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !dob.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Birth</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="dob" value="{{ this.model.dob }}" 
                                [(ngModel)]="this.model.dob" #dob="ngModel" required  />
                            </div>       
                            <!-- <div *ngIf="empf.submitted && !dob.valid" class="help-block"> Birth is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !joinDate.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5"> Employee Join</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="addeddate" value="{{ this.model.addeddate }}" 
                                [(ngModel)]="this.model.addeddate" #addeddate="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !joinDate.valid" class="help-block"> Join Since is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !contractNumber.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Contract Number</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="contractnumber" value="{{ this.model.contractnumber }}" 
                                [(ngModel)]="this.model.contractnumber" #contractnumber="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !contractNumber.valid" class="help-block" id="helpblock"> Contract Number is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !npwpNumber.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee NPWP</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="npwp" value="{{ this.model.npwp }}" 
                                [(ngModel)]="this.model.npwp" #npwp="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !npwpNumber.valid" class="help-block"> NPWP is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !bpjsNumber.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee BPJS</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="bpjs" value="{{ this.model.bpjs }}" 
                                [(ngModel)]="this.model.bpjs" #bpjs="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !bpjsNumber.valid" class="help-block"> BPJS is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !monthlySalaryvalid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Monthly Salary</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="monthlysalary" value="{{ this.model.monthlysalary }}" 
                                [(ngModel)]="this.model.monthlysalary" #monthlysalary="ngModel" required  />
                            </div>       
                            <!-- <div *ngIf="empf.submitted && !monthlySalary.valid" class="help-block"> Monthly_Salary is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !overtimeSalary.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Overtime Salary</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="overtimeSalary" value="{{ this.model.overtimeSalary }}" [(ngModel)]="this.model.overtimeSalary" #overtimeSalary="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !overtimeSalary.valid" class="help-block"> Overtime_Salary is required.</div>
                        </div>-->
                    </div>
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !workHour.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Work_Hour</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="workHour" value="{{ this.model.workHour }}" [(ngModel)]="this.model.workHour" #workHour="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !workHour.valid" class="help-block" id="helpblock"> Work_Hour is required.</div>
                        </div>-->
                    </div>	
                    <div class="row" id="country">
                        <!-- <div class="form-group" [ngClass]="{'has-error':empf.submitted && !annualLeave.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Annual Leave</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="annualLeave" value="{{ this.model.annualLeave }}" 
                                [(ngModel)]="this.model.annualLeave" #annualLeave="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !annualLeave.valid" class="help-block"> Annual_Leave is required.</div>
                        </div>-->
                    </div>	
                    <div class="row" id="country">
                        <!--<div class="form-group" [ngClass]="{'has-error':empf.submitted && !absentDeduction.valid}">-->
                            <div class="col-md-5 col-xs-5 col-lg-5">Absent Dedection</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">
                                <input type="text" class="form-control" name="absentDeduction" value="{{ this.model.absentDeduction }}" [(ngModel)]="this.model.absentDeduction" #absentDeduction="ngModel" required  />
                            </div>       
                            <!--<div *ngIf="empf.submitted && !absentDeduction.valid" class="help-block" id="helpblock"> Absent Dedection is required.</div>
                        </div>-->
                    </div>	
                </div>                                                    
            </form>   
        </div>     
        <!-- Employee Edit End -->

        <!-- Employee Absent Start -->
        <div *ngIf="absentdiv" class="scroll-div" id="example-box" cdkDrag>
            <br/>
            <h3>Employee Absent</h3>
            <hr>
            <div class="empdet-div" style="height: 540px;">
                <div class="row">
                    <div id="date-details">
                        <p class="text">SET DATE AND TIME</p>
                        <p class="datetext"> {{todayDate | date:'longDate'}} </p>
                        <p class="datetext" id="date">{{todayDate | date:'mediumTime'}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="radio-toolbar">
                        <input type="radio" id="radio1" name="radios" value="check In" [(ngModel)]="model.status" #status="ngModel" required />
                        <label for="radio1" id="checkIn-butn">CHECK IN</label>
                        
                        <input type="radio" id="radio2" name="radios" value="check Out" [(ngModel)]="model.status" #status="ngModel" required />
                        <label for="radio2" id="checkOut-butn">CHECK OUT</label>
                    </div>
                </div>
                <div class="row">
                    <div class="radio-toolbar">
                        <input type="radio" id="radio3" name="radios" value="absent" [(ngModel)]="model.status" #status="ngModel" required />
                        <label for="radio3" id="absentbtn">ABSENT</label>
                    </div>
                </div>
                <div class="row">
                    <p id="reason-text">Reason </p>
                </div>
                <div class="row">
                    <textarea type="text" id="reason"  class="form-control" name="reason" value="{{ this.model.reason }}" [(ngModel)]="this.model.reason" #reason="ngModel" required></textarea>  
                </div>
                <div class="row">
                    <p style="margin: 0 25px;color:white;">Fill this form if late check in / early check out / absent </p>
                </div>
                <div class="row">
                    <div id="date-details">
                        <p class="text">PREVIEW DETAIL </p>
                        <div class="row" id="country">
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Code</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.employeecode }}</div>
                        </div>
                        <div class="row" id="country">
                            <div class="col-md-5 col-xs-5 col-lg-5">Employee Name</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.name }}</div>
                        </div>
                        <div class="row" id="country">
                            <div class="col-md-5 col-xs-5 col-lg-5">Date</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">{{ todayDate | date:'longDate' }}</div>
                        </div>
                        <div class="row" id="country">
                            <div class="col-md-5 col-xs-5 col-lg-5">Time</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">{{todayDate | date:'mediumTime'}}</div>
                        </div>
                        <div class="row" id="country">
                            <div class="col-md-5 col-xs-5 col-lg-5">Status</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.status }}</div>
                        </div>
                        <div class="row" id="country">
                            <div class="col-md-5 col-xs-5 col-lg-5">Reason</div>
                            <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                            <div class="col-md-6 col-xs-6 col-lg-5">{{ this.model.reason }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button id="uploadbtn" (click)="upload(todayDate)">UPLOAD</button>
                </div>
            </div>
        </div>
        <!-- Employee Absent End -->
        
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>
    </div>
    
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':successdialog}" style="margin-top:9%;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div id="box-dialouge"><i class="fa fa-check" aria-hidden="true" id="icon-font"></i></div>
              <br/><br/>
              <h2 style="text-align: center;color: black;">{{mainmessage}}</h2>
              <br/><br/>
             <!-- <p id="p-text">{{message}}.</p> -->
          </div>
        </div>
    </div>
    
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':updatesuccessdialog}" style="margin-top:9%;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div id="box-dialouge"><i class="fa fa-check" aria-hidden="true" id="icon-font"></i></div>
              <br/><br/>
              <h4 style="text-align: center;color: black;">{{mainmessage}}</h4>
              <br/><br/>
          </div>
        </div>
    </div>
    
    <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':absentmarkdialog}" style="margin-top:9%;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div id="box-dialouge"><i class="fa fa-check" aria-hidden="true" id="icon-font"></i></div>
              <br/><br/>
              <h4 style="text-align: center;color: black;">{{mainmessage}}</h4>
              <br/><br/>
          </div>
        </div>
    </div>