*{
    font-family: 'Lato',Georgia,Arial,sans-serif;
    font-size:13px;
    color: white;
}
.mat-tab-group {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.mat-elevation-z8{
    width: 100%;
}

.mat-tab-label {
    cursor: pointer;
}

.tab{
    margin-left: 15px;
}

.tablink {
    float: left;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    /* padding: 14px 14px; */
    font-size: 17px;
    text-align: center;
    width: 25%;
    height: 10%;
}

.tablink.active {
    border-bottom: 3px solid #007bff;
}
 
#purchase-div{
    background: #243642;
    height: 630px;
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;;
    /* border: 1px solid black;
    margin : 0px 15px 30px 20px; */
}

a {
    display: block;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

#print-butn{
    border: 1px solid white;
    height: 29px;
    width: 115px;
    margin-top: 7px;
    font-size: 15px;
    cursor: pointer;
    background: #313F47;
}
.searchicon{
    font-family: fontawesome;
    font-size: 18px;
    background: #58656A;
    border: 1px solid #58656A;
    /* background: blanchedalmond;
    color: black; */
    cursor: pointer;
    width: 50%;
    height: 35px;
    border-radius: 25px;
    margin-left: 10px;
}
::placeholder {
  color: white;
}
#text{
    margin-left: 6px;
}
#vendor-text{
    margin-left: 20px;
}
#select-box-style{
    width: 125px;
    height: 26px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}

table {
    width: 100%;
    overflow-y: auto;
    border-color: 1px solid grey;
    background-color: #243642;
}
th{
    color:#ffffff;
    background-color:#033c5f; 
    color: white;
    width: 25%;
}
td{
    background-color: #1a2932;
    color:white;
    width: 25%;
    cursor: pointer;
}
  
#table-size{
    height: 40%;
    margin: 0px 25px;
}

::ng-deep .mat-select-value,::ng-deep .mat-select-arrow {
    color: white;
}
::ng-deep .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-size: smaller;
    width: 100%;
    height: 40px;
    margin: 8px;
    padding-top: 4px;
}

::ng-deep td.mat-cell,::ng-deep  td.mat-footer-cell {
    border-bottom: 1px solid white;
}
  
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 7px;
    padding-bottom: 2px;
    text-align: justify;
}
  
.mat-input-element {
    font: inherit;
    font-family: fontawesome;
    background:white;
    color: black;
    height: 35px;
    outline: 0;
    margin: 10;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align:start;
    border-radius: 6px;
    padding: 11px;
    margin-top: -10px;
}
::ng-deep .mat-form-field-wrapper{
    width: 80%;
}
.matTable{
    width: 100%;
    margin: auto;
}
mat-paginator{
    width: 100%;
    background-color: #243642;
    color: white;
}
#icon-mod{
    font-size: 18px;
    margin-left: 3px;
}
#cursor-pointer{
    cursor: pointer;
    overflow-y: auto;
}
#text-color{
    width: 50px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
}

.details-div{
    height: 550px;
    margin-right: 10px;
}
.hr{
    margin-left: 15px;
}
.empdet-div{
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll-div{
    background: #243642;
    border-radius: 10px;
}

#country{
   /* font-size: 14px;*/
    margin: 4px;
}

#country input{
    color: black;
}
h3{
    text-align: center;
}

#empButton{
    width: 65px;
    font-size: 12px;
    padding-left: 4px;
}

.form-control{
    width: 100px;
}

.help-block{
    padding-left: 15px;
}

#helpblock{
    padding-top: 40px;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Start Dialog Box Styles */
.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    margin: 0 auto;
    margin-left: 510px;
}
.modal-content {
    overflow:hidden;
    height: 465px;
    width: 325px;
    margin-top: 235px;
}

#box-dialouge{
    margin-top: 45px; 
    margin-left: 90px;
    background-color: #0cc50c;
    width: 150px;
    height: 150px;
    border-radius: 80px;
}
#icon-font{
    font-size: 90px;
    padding-left: 30px;
    padding-top: 24px;
}
#p-text{
    padding-left: 30px;
    font-size: 16px;
}
/* End DialogBox Styles */

#date-details{
    width: 100%;
    margin: 0 25px;
    height:auto;
    background-color: #5a5a5a;
}

.text{
    margin : 8px 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.datetext{
    margin : 8px 0 auto;
    text-align: center;
    font-size: 18px;
}

#date{
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 5px;
}

#checkIn-butn{
    background-color: #07ab07;
    width: 100px;
    height: 32px;
    margin: 5px 0 0 90px;
}
#checkOut-butn{
    background-color: #d40505;
    width: 120px;
    height: 32px;
    margin: 5px 0 0 5px;
}
#absentcard-box{
    background: #1B2931;
    height: 445px;
    width: 100%;
  }

#absentbtn{
    width: 85%;
    margin: 5px 90px;
    height: auto;
    background-color: #f99704;
    text-align: center;
}
textarea{
    color: black;
}
#reason{
    width: 100%;
    margin: 0 25px;
    height: 100px;
    background-color: white;
}
#reason-text{
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.radio-toolbar input[type="radio"] {
    display: none;
}
  
.-toolbar label {
    display: inline-block;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
}

#uploadbtn{
    width: 100%;
    margin: 10px 25px;
    background-color: #1B2931;
}
::ng-deep .mat-paginator-container{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    min-height:56px;
    padding:0px;
    flex-wrap:wrap-reverse;
    width:100%;
}


@media (min-width: 810px) and (max-width: 1024px) and (orientation: landscape) {
    #purchase-div{
      background: #243642;
      height: 630px;
      width: 100%;
      border-radius: 10px;
      /* border: 1px solid black;
      margin : 0px 15px 30px 95px; */
    }
    .empdet-div{
      background: #243642;
      height: 630px;
      border-radius: 10px;
      /*margin-left: 60px;*/
    }
    #image-size{
      width: 130;
      margin-left: 0px;
    }
    #empbut{
        margin: -12px; 
    }
    #checkIn-butn{
        background-color: #07ab07;
        width: 100px;
        height: 32px;
        margin: 5px 0 0 30px;
    }
    #checkOut-butn{
        background-color: #d40505;
        width: 120px;
        height: 32px;
        margin: 5px 0 0 5px;
    }
    #absentbtn{
        width: 85%;
        margin: 5px 55px;
        height: auto;
        background-color: #f99704;
        text-align: center;
    }
}
@media (min-width: 1025px) and (max-width: 1280px){
    #purchase-div{
      background: #243642;
      height: 630px;
      width: 100%;
      border-radius: 10px;
      /* border: 1px solid black;
      margin : 0px 15px 30px 45px; */
    }
    .empdet-div{
      background: #243642;
      height: 513px;
      border-radius: 10px;
      margin-left: 15px;
    }
    #empbut{
        margin: -12px; 
    }
    #checkIn-butn{
        background-color: #07ab07;
        width: 100px;
        height: 32px;
        margin: 5px 0 0 45px;
    }
    #checkOut-butn{
        background-color: #d40505;
        width: 120px;
        height: 32px;
        margin: 5px 0 0 5px;
    }
    #absentbtn{
        width: 100%;
        margin: 5px 58px;
        height: auto;
        background-color: #f99704;
        text-align: center;
    }
}
  
@media (min-width: 320px) {
    @viewport {
      width: device-width;
      zoom: 0.7;
    }
    .details-div{
        margin-top: 3px;
    }
}
@media (min-width: 320px) and (max-width: 809px) {
    #empbut{
        font-size: 14px;
        margin: 4px;
    } 
}
