<header class="w-100 d-flex align-items-center justify-content-center">
  <h1 hidden>ERP</h1>
  <img src="assets/images/nrg-logo.png" class="img-fluid logo" alt="app logo" />
</header>
<div
  class="d-flex align-items-center justify-content-center login-page-main-container"
>
  <div class="login-form m-3">
    <p class="font-x-lg title text-center mb-4">Employment Sign In</p>
    <form
      name="loginForm"
      (submit)="loginForm.form.valid && login()"
      #loginForm="ngForm"
      novalidate
    >
      <div class="row">
        <label
          class="m-0 p-0 icon-placeholder text-white d-flex align-items-center justify-content-center"
          for="userName"
          ><i class="fas fa-user"></i
        ></label>
        <input
          class="col p-2 m-0 border-0"
          id="userName"
          type="text"
          placeholder="Username/Email"
          name="currentusername"
          [(ngModel)]="model.currentusername"
          #currentusername="ngModel"
          required
          autofocus
        />
      </div>
      <p
        class="font-sm my-1 text-danger"
        [ngStyle]="{
          visibility:
            loginForm.submitted && !currentusername.valid ? 'visible' : 'hidden'
        }"
      >
        Username is required
      </p>
      <div class="row">
        <label
          for="password"
          class="m-0 p-0 icon-placeholder text-white d-flex align-items-center justify-content-center"
          ><i class="fas fa-lock"></i
        ></label>
        <input
          id="password"
          class="col p-2 m-0 border-0"
          type="{{ passwordtype }}"
          placeholder="Password"
          id="typebox-with"
          name="currentpassword"
          [(ngModel)]="model.currentpassword"
          #currentpassword="ngModel"
          required
        />
      </div>
      <p
        class="font-sm my-1 text-danger"
        [ngStyle]="{
          visibility:
            loginForm.submitted && !currentpassword.valid ? 'visible' : 'hidden'
        }"
      >
        Password is required
      </p>
      <div class="row mb-3 mt-1">
        <button class="col-6" type="submit">Sign In</button>
        <div class="col-6 text-right p-0">
          <input type="checkbox" id="remember" />
          <label for="remember" class="font-sm cursor-pointer ml-2"
            >Remember me</label
          >
          <p class="d-inline-block font-sm m-0">
            <a href="#">Forgot password?</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
