<div class="employee-content">
  <div class="row">
      <div class="col-lg-7">
  <div class="tab">
      <a class="tablink" style="border-bottom: 3px solid #007bff;width: auto;" id="defaultOpen">Employee Add</a>
      <a class="tablink" routerLink="../employeelist" style="width: auto;color:white;">Employee List</a>
  </div>
            
  <div id="addemployee-div">
    <br/><br/>
    <form class="text-center border border-light p-4">
        <!--<div class="container">
            <h4 style="color: black;">Employee Photo</h6>
            <div class="picture-container">
                <div class="picture">
                    <img src="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no" class="picture-src" id="wizardPicturePreview" title="">
                    <input type="file" id="wizard-picture" class="">
                </div>
            </div>
        </div>-->
          
      <br/>
      <div class="form-row mb-4">
          <div class="col">
            <label id="labeltext">Employee Name </label>
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Name"
             [(ngModel)]="this.model.name" #name="ngModel" name="name" required>
          </div>
          <div class="col">
            <label id="labeltext">Employee Rank </label>
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Employee Rank" 
            [(ngModel)]="this.model.rank" #rank="ngModel" name="rank" required>
          </div>
          <div class="col">
            <label id="labeltext">PhoneNumber</label>
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Phone number" 
            [(ngModel)]="this.model.phonenumber" #phonenumber="ngModel" name="phonenumber" required>
          </div>
      </div>

      <div class="form-row mb-4">
          <div class="col">
            <label id="labeltext"> Address</label> 
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Address"
             [(ngModel)]="this.model.address" #address="ngModel" name="address" required>
          </div>
          <div class="col">
            <label id="labeltext">Employee Email</label>
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Email" 
            [(ngModel)]="this.model.email" #email="ngModel" name="email" required>
          </div>
          <div class="col">
            <label id="labeltext">Employee DOB </label>
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Date of Birth" 
            [(ngModel)]="this.model.dob" #dob="ngModel" name="dob" required>
          </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <label id="labeltext">ContractNumber </label>
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Contract Number" 
          [(ngModel)]="this.model.contractnumber" #contractnumber="ngModel" name="contractnumber" required>
        </div>
        <div class="col">
          <label id="labeltext">NPWP Number </label>
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="NPWP Number" 
          [(ngModel)]="this.model.npwp" #npwp="ngModel" name="npwp" required>
        </div>

        <div class="col">
          <label id="labeltext">BPJS </label>
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="BPJS"
           [(ngModel)]="this.model.bpjs" #bpjs="ngModel" name="bpjs" required>
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="col">
          <label id="labeltext"> Monthly Salary </label>
          <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Monthly Salary" 
          [(ngModel)]="this.model.monthlysalary" #monthlysalary="ngModel" name="monthlysalary" required>
        </div>
        <div class="col">
          <label id="labeltext">Work Hour </label>
          <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Work Hour" 
          [(ngModel)]="this.model.workHour" #workHour="ngModel" name="workHour" required>
        </div>

        <div class="col">
          <label id="labeltext">Annual Leave </label>
            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Annual Leave"
             [(ngModel)]="this.model.annualLeave" #annualLeave="ngModel" name="annualLeave" required>
        </div>
      </div>

      <br/>
      <div class="form-row mb-8">
        <div class="col-2"></div>
        <div class="col">
          <button id="save-butn" (click)="saveEmployee()">
            <i class="fa fa-floppy-o" aria-hidden="true" id="icon-mod"></i>&nbsp;&nbsp;
            <label id="text">Save</label>
          </button>&nbsp;&nbsp;
          <button id="cancel-butn" (click)="cancelEmployee()">
            <label id="text">Cancel</label>
          </button>
        </div>
        <div class="col-2"></div>
      </div>
   
    </form>
    
                    	
               
      </div>                    
    </div>
  </div>
  <br/><br/><br/>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':successdialog}" style="margin-top:9%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div id="box-dialouge"><i class="fa fa-check" aria-hidden="true" id="icon-font"></i></div>
        <br/><br/>
        <h4 style="text-align: center;color: black;">{{mainmessage}}</h4>
        <br/><br/>
    </div>
  </div>
</div>
