<div class="employee-content">
  <div class="row">
    <div class="col-lg-11">
      <div class="tab">
        <a class="tablink" style="border-bottom: 3px solid #007bff;width: auto;" id="defaultOpen">Purchase Order</a>
        <a class="tablink" routerLink="../purchase-invoice" style="width: auto;color:white;">Purchase Invoice</a>
        <a class="tablink" routerLink="../purchase-return" style="width: auto;color:white;">Purchase Return</a>
        <a class="tablink" routerLink="../purchasereport" style="width: auto;color:white;">Purchase Report</a>
      </div>
              
      <div id="addemployee-div">
        <br/><br/>
        <div class="group-gap" style="margin: 40px;">
          <br/>
          <form name="form">
            <div class="row">
              <div class="col-lg-3">    
                <h3 class="mb-3">Make Purchase Order</h3>
                <br/>
                <!-- <div class="row">
                  <div class="col-lg-6">
                      <label id="labeltext">Vendor Name </label>
                  </div>
                  <div class="col-lg-1">
                      <label id="labeltext">:</label>
                  </div>
                  <div class="col-lg-5">
                    <select [(ngModel)]="model.vendorName" #vendorName="ngModel" name="vendorName" id="textColor">
                      <option *ngFor="let itemVendor of vendorList" value="{{ itemVendor.vendorName }}"> {{ itemVendor.vendorName }} </option>                     
                    </select> 
                  </div>
                </div><br/> -->
                <div class="row">
                  <div class="col-lg-6">
                      <label id="labeltext">Product Category  </label>
                  </div>
                  <div class="col-lg-1">
                      <label id="labeltext">:</label>
                  </div>
                  <div class="col-lg-5">
                    <select [(ngModel)]="model.category" #category="ngModel" name="category" id="textColor">
                      <option *ngFor="let itemcategory of categoryList" value="{{ itemcategory.name }}-{{ itemcategory.categorycode }}"> {{ itemcategory.name }}-{{ itemcategory.categorycode }} </option>                     
                    </select> 
                  </div>
                </div><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <label id="labeltext">Product Name </label>
                    </div>
                    <div class="col-lg-1">
                        <label id="labeltext">:</label>
                    </div>
                    <div class="col-lg-5">
                        <select [(ngModel)]="model.productName" #productName="ngModel" name="productName" placeholder="     ltr/kg/pcs      "
                         id="textColor" (change)="getNetAmount(this.model.productName,this.model.quantity,this.model.category)" >
                         <option value ="--- Select ---">--- Select ---</option> 
                         <option *ngFor="let item of productList" value="{{ item.productname }}-{{ item.prodcode }}"> {{ item.productname }}-{{ item.prodcode }} </option>                     
                        </select> 
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <label id="labeltext">Quantity </label>
                    </div>
                    <div class="col-lg-1">
                        <label id="labeltext">:</label>
                    </div>
                    <div class="col-lg-5">
                      <input [(ngModel)]="model.quantity" #quantity="ngModel" name="quantity" 
                        id="textColor" (change)="getNetAmount(this.model.productName,this.model.quantity,this.model.category)" />
                    </div>
                </div><br/>
                <div class="row">
                  <div class="col-lg-6">
                      <label id="labeltext">Date </label>
                  </div>
                  <div class="col-lg-1">
                      <label id="labeltext">:</label>
                  </div>
                  <div class="col-lg-5">
                    <input type="text" [(ngModel)]="model.poDate" #poDate="ngModel" id="textColor" value="{{ todayDate | date:'dd/MM/yyyy' }}" readonly  />
                  </div>
                </div><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <label id="labeltext">Description </label>
                    </div>
                    <div class="col-lg-1">
                        <label id="labeltext">:</label>
                    </div>
                    <div class="col-lg-5">
                      <textarea type="text" [(ngModel)]="model.description" #description="ngModel" name="description" id="textColor"></textarea> 
                    </div>
                </div><br/>
                <button (click)="addProduct(this.model.sNo)" class="addButton" id="newPurchaseOrder"> Add Product </button>
                <br/><br/> 
              </div>
              <div class="col-lg-2"> </div>
              <div class="col-lg-7">    
                <div id="date-details">
                  <p class="text">Pucrhase Order Summary</p>
                  <div class="row"id="date">
                      <div class="col-md-5 col-xs-5 col-lg-5" id="purchasetext">Date of PO</div>
                      <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                      <div class="col-md-6 col-xs-6 col-lg-6">
                        <p id="purchaseoutput">{{ todayDate | date:'dd/MM/yyyy' }}</p>
                      </div>       
                  </div>	
                  <div class="row"id="date">
                    <div class="col-md-5 col-xs-5 col-lg-5" id="purchasetext">Total Product</div>
                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                    <div class="col-md-6 col-xs-6 col-lg-6">
                      <p id="purchaseoutput">{{ model.sNo }} Item</p>
                    </div>       
                  </div>	
                  <div class="row" id="date">
                    <div class="col-md-5 col-xs-5 col-lg-5" id="purchasetext">Subtotal</div>
                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                    <div class="col-md-6 col-xs-6 col-lg-6">
                      <p id="purchaseoutput">{{ this.model.subTotal }}</p>
                    </div>       
                  </div>
                  <div class="row">
                    <div class="col-md-5 col-xs-5 col-lg-5" id="purchasetext">Delivery Charge </div>
                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                    <div class="col-md-6 col-xs-6 col-lg-6">
                      <input class="form-control" type="text" id="deliveryCost" [(ngModel)]="this.model.deliveryCost" #deliveryCost="ngModel" style="width: auto;height: 25px;" name="deliveryCost" />
                    </div>       
                  </div>
                  <br/>
                  <hr>
                  <div class="row">
                    <div class="col-md-5 col-xs-5 col-lg-5" id="purchasetext">TOTAL : </div>
                    <div class="col-md-1 col-xs-1 col-lg-1">:</div>
                    <div class="col-md-6 col-xs-6 col-lg-6">
                      <p id="purchaseoutput">{{ this.model.subTotal -- this.model.deliveryCost }}</p>
                    </div>       
                  </div>
                  <div class="row">
                    <div class="radio-toolbar">
                      <label for="radio1" id="checkIn-butn" (click)="savePurchase()">Save</label>
                      <label for="radio2" id="checkOut-butn" (click)="cancelEmp()">Cancel</label>
                    </div>
                  </div>
                  <br/>
                </div>
              </div>
            </div>
          </form>
          <div class="mb-3">
            <table  id="test" *ngIf="purchasetable">
              <thead style="background-color: #3c8dbc;color:white;">
                <th style="padding-right: 10px;padding: 9px;">No.</th> 
                <th style="padding-right: 10px;padding: 9px;">Product Name </th> 
                <th style="padding-right: 10px;padding: 9px;">Category </th> 
                <th style="padding-right: 10px;padding: 9px;">Vendor </th> 
                <th style="padding-right: 10px;padding: 9px;">PO Date </th>  
                <th style="padding-right: 10px;padding: 9px;">Quantity</th>
                <th style="padding-right: 10px;padding: 9px;">Description</th>
                <th style="padding-right: 10px;padding: 9px;">Subtotal </th>
                <th style="padding-right: 10px;padding: 9px;">Action</th>
              </thead>
              <tbody>

                  <tr *ngFor="let arr of fieldArray; let i = index">
                    <td id="middleContent">{{ i + 1}}</td>
                    <td id="middleContent">{{ arr.productName }}</td>
                    <td id="middleContent">{{ arr.category }}</td>
                    <td id="middleContent">{{ arr.vendorName }}</td>
                    <td id="middleContent">{{ todayDate | date:'dd/MM/yyyy' }}</td>
                    <td id="middleContent">{{ arr.quantity }}</td>
                    <td id="middleContent">{{ arr.description }}</td>
                    <td id="middleContent">{{ arr.netAmount }}</td>
                    <td id="middleContent">
                      <div id="rowdelete-div" (click)="deleteFieldValue(i)">
                          <i class="fa fa-trash-o" id="rowdelete-icon" aria-hidden="true"></i>    
                      </div> 
                    </td>
                </tr>
                        
              </tbody>
            </table>
          </div>      
          <!-- Submit Button -->
        </div>
      </div>
    </div>                    
  </div>
  <br/><br/><br/>
</div>
