* {
    font-family: 'Lato',Georgia,Arial,sans-serif;
    font-size:13px;
    color:white;
  }
  .mat-elevation-z8{
    width: 100%;
}

  h3{
    font-size: large;
    font-weight: bold;
  }

  /* mat tab css start */
  :host > .container {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  :host /deep/ .mat-tab-body-content{
    overflow-x: hidden;
  }
  :host /deep/ .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 1.25em;
    background: #58666E;
    border-radius: 7px;
    margin-top: -3px;
    height: 35px;
    width: 100%;
  }
  :host /deep/ .mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0px;
    bottom: unset;
  }
  :host /deep/ .mat-form-field-appearance-legacy .mat-form-field-ripple{
    height: 0px;
    top: 0px;
  }
  :host /deep/ .mat-tab-group {
    flex-direction: row;
  }
  :host /deep/ .mat-tab-header {
    border-bottom: none;
    border: none;
  }
  :host /deep/ .mat-tab-header-pagination {
    display: none !important;
  }
  :host /deep/ .mat-tab-labels {
    flex-direction: column;
    background: #2D4452;
  }
  :host /deep/ .mat-tab-body-wrapper {
    flex: 1 1 auto;
    background: #243641;
  }
  :host /deep/ .mat-tab-label{
    height: 100px;
    background: #2D4452;
  }
  :host /deep/ .mat-tab-label-active {
    background-color: #243641 ;
    border-bottom: 1px solid white;
  }
  :host /deep/ .mat-tab-group.mat-primary .mat-ink-bar{
    background: none;
  }
  :host /deep/ .mat-sort-header-container{
    padding-left: 10px;
  }
  :host /deep/ td{
    vertical-align: middle;
  }
  .container {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
  }
  #content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;
    width: 1264px;
    /*background-color:#243641; */
  }
  #content {
    max-width: 1100px;
    width: 100%;
    /*background-color:#243641; */
    padding: 24px;
    box-sizing: border-box;
    height: 630px;
  }
  #content::before, #main-content::before, #content::after, #main-content::after {
    content: "";
    display: table;
  }
  #content::after, #main-content::after {
    clear: both;
  }
  .mat-tab{
    height: 70px;
    background: white;
  }

   /* mat tab css End */

  table.mat-table{
    width: 100%;
  }
  table th,td{
    border: 2px solid #121b21;
  }
  tr:nth-child(even){
    background-color: #1A2932;
    height: 65px;
    text-align: center;
  }
  tr:nth-child(odd){
    background-color: #1F303B;
    height: 65px;
    text-align: center;
  }
  tr.mat-header-row{
    background: #1B2931;
    height: 50px;
    
  }
  /*:host /deep/ .mat-sort-header-container{
    margin-left: 40px;
  }*/
  :host /deep/ td.mat-cell:first-of-type{
    padding-left: 0px;
  }
  /*:host /deep/ td.mat-cell{
    border-bottom: none; 
  }*/
  :host /deep/ .mat-paginator{
    background-color: transparent;
  }
  :host /deep/ .mat-form-field-infix{
    width: 100%;
  }

::ng-deep .mat-select-value,::ng-deep .mat-select-arrow {
    color: white;
}
::ng-deep .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    font-size: smaller;
    width: 100%;
    height: 40px;
    margin: 8px;
    padding-top: 4px;
}
mat-paginator{
    width: 100%;
    background-color: #243642;
    color: white;
}


#tab-span-color{
  font-size: 18px;
  font-weight: bold;
}
#button-printpage{
  height: 25px;
  width: 98px;
  border: 1px solid;
  cursor: pointer;
  background: center;
  outline: none;
}
#button-addnewvendor{
  height: 25px;
  width: 150px;
  border: 1px solid;
  cursor: pointer;
}
#icon-align{
  margin: 5px;
}
#selct-joindatebox{
  background: #20303A;
  width: 15%;
  height: 30px;
  box-shadow: none;
  border: 0px;
  margin-left: 7px;
}
#rowview-div{
  height: 30px;
  width: 30px;
  background: #6BD052;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
#rowprint-div{
  height: 30px;
  width: 30px;
  background: #FE6601;
  border-radius: 30px;
  cursor: pointer;
}
#rowedit-div2{
  height: 30px;
  width: 30px;
  background: #267CB4;
  border-radius: 30px;
  cursor: pointer;
}
#rowdelete-div2{
  height: 30px;
  width: 30px;
  background: #EF6956; 
  border-radius: 30px;
  cursor: pointer;
}
#row-icon{
  font-size: 20px;
  margin: 5px;
}
#select-div{
  background: white;
  width: 100%;
  height: 165px;
}
#select-div2{
  background: #7F7F7F;
  width: 100%;
  height: 165px;
}
#editimg-border{
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
#textbox-div{
  background: #253843;
  width: 80%;
  height: 23px;
}
#textbox-div2{
  background: #253843;
  width: 95%;
  height: 23px;
}
#textboxaddress-div{
  background: #253843;
  width: 80%;
  height: 73px;
}
#black-color{
  color: black;
}
#textbox-nochange-div{
  background: #40474B;
  width: 100%;
  height: 23px;
}
#textbox-nochange-div2{
  background: #40474B;
  width: 80%;
  height: 23px;
}
/*#empview-secong-layer{
  background: #1B2931;
  width: 95%;
  height: 510px;
  margin: 25px;
}*/
#edit-textbox{
  color: black;
  height: 23px;
  font-size: 13px;
  width: 80%;
}
#editaddress-textbox{
  color: black;
  height: 23px;
  font-size: 13px;
  width: 80%;
  height: 70px;
  border-radius: 0px;
}
#edit-textbox2{
  color: black;
  height: 23px;
  font-size: 13px;
}
#save-btn{
  width: 90px;
  height: 28px;
  background: #51AF57;
  border: none;
  outline: none;
}
#delete-btn{
  width: 90px;
  height: 28px;
  background: #C1272D;
  border: none;
  outline: none;
}
#box-width{
  width: 80%;
}
#absentcard-box{
  background: #1B2931;
  height: 472px;
  width: 100%;
}
#absentcard-box2{
  background: #1B2931;
  width: 100%;
  height: 260px;
}
#absent-text{
  margin: 8px;
  font-size: 13px;
  font-weight: bold;
}
#sectable-back-color{
  background: #1B2931;
  width: 95%;
  height: 75%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}
#font-sixe12{
  font-size: 11px;
  margin-left: 7px;
}
hr{
  background: white;
  width: 95%;
  margin: auto;
}

.scroll-div{
  background: #1B2931;
}
.scroll-div2{
  background: #1B2931;
  width: 93%;
  height: 93%;
  margin: 17px;
}
.empdet-div{
  height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#date-details{
  width: 100%;
  margin: 0 25px;
  height:100px;
  background-color: #525C62;
}
#date-details2{
  width: 80%;
  margin: auto;
  height: auto;
  background-color: #999999;
}
.text{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  height: 5px;
}

.datetext{
  margin : 8px 0 auto;
  text-align: center;
  font-size: 18px;
}
.radio-toolbar input[type="radio"] {
  display: none;
}
#checkIn-butn{
  background-color: #07ab07;
  width: 76px;
  height: 25px;
  margin: 0px;
}
#checkOut-butn{
  background-color: #d40505;
  width: 80px;
  height: 25px;
  margin: 5px 0 0 5px;
}
.radio-toolbar input[type="radio"] {
  display: none;
}
#absentbtn{
  width: 85%;
  margin: 5px 54px;
  height: auto;
  background-color: #f99704;
  text-align: center;
}
#reason-text{
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  width: 700px;
}
#uploadbtn{
  width: 100%;
  margin: 10px 25px;
  background-color: #1B2931;
}
#reason-box{
  width: 80%;
  margin: auto;
  border-radius: 0px;
}



/*Emp Report css Start */
h2{
  font-size: 30px;
  font-weight: bold;
}

#background{
  background-color: #243641;
  width: 97%;
  height: 100%;
  margin: 10px;
}
#text-size{
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}
#previewemp-box{
  background: #1B2931;
  height: 145px;
  width: 100%;
  overflow: scroll;
}
#preview-text{
  font-size: 12px;
  margin: 6px;
}
#emppicture-box{
  background: #FFFFFF;
  height: 66px;
  width: 100%;
  margin: 6px;
}
#Emppic-text{
  color: #181818;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
#fontsize-11{
  font-size: 9px;
}
#sectable-back-color2{
  background: #1B2931;
  border: 1px solid;
  width: 94%;
  height: 68%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}
#absent-text{
  margin: 8px;
  font-size: 13px;
  font-weight: bold;
}
#font-sixe12{
  font-size: 11px;
  margin-left: 7px;
}
hr{
  background: white;
  width: 95%;
  margin: auto;
}
#empreport-backcolor{
  height: 83%;
  background: #1B2931;
}
#back-btn{
  height: 30px;
  width: 100px;
  background: #243641;
  border: 1px solid white;
  text-align: center;
  margin: auto;
}
#report-datebox{
  height: 25px;
  width: 140px;
  background: #1B2931;
  border: 1px solid white;
  text-align: center;
  margin: auto;
  font-size: 12px;
}
#report-detailbox{
  background: #000000;
  height: 75%;
  width: 94%;
  margin: auto;
}
#reportbutton-printpage{
  height: 25px;
  width: 100px;
  border: 1px solid;
  cursor: pointer;
  margin: auto;
}

/* width */
/*#previewemp-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
/*#previewemp-box::-webkit-scrollbar-track {
  background: #1B2931; 
}
 
/* Handle */
/*#previewemp-box::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
/*#previewemp-box::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/


